<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-xs-12 text-right">
		<button class="btn btn-xs btn-default btn-consumables-add">Add</button>
		<button class="btn btn-xs btn-default btn-consumables-view-all">View All</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive small">
			<thead>
				<tr>
					<th>Item</th>
					<th>Delivered By</th>
					<th>Quantity</th>
					<th>Used</th>
					<th>Balance</th>
					<th>Remarks</th>
				</tr>
			</thead>
			<tbody>
			{% if (consumables.length == 0) { %}
				<tr>
					<td colspan="6">
						<span class="text-muted text-center">No consumables tracked yet.</span>
					</td>
				</tr>
			{% } else { %}
				{% for (var i=0, l=consumables.length; i<=l-1; i++) { %}

					<tr>
						<td>{{ consumables[i].item }}</td>
						<td>{{ consumables[i].delivered_by }}</td>
						<td>{{ consumables[i].qty }}</td>
						<td>{{ consumables[i].qty_used }}</td>
						<td>{{ consumables[i].qty_balance }}</td>	
						<td>{{ consumables[i].remarks }}</td>
					</tr>
				{% } %}
			{% } %}
			</tbody>
		</table>
	</div>
</div>
