<div class="clearfix"></div>
<div class="row">
	<div class="col-md-3 col-xs-3">
		<label>Opening Balance: </label> {{ expenses["opening_balance"] || "N/A" }}
	</div>
	<div class="col-md-3 col-xs-3">
		<label>Advance Received: </label> {{ expenses["advance_received"] || "N/A" }}
	</div>
	<div class="col-md-6 col-xs-6 text-right">
		<button class="btn btn-xs btn-default btn-expense-add">Add</button>
		<button class="btn btn-xs btn-default btn-expense-view-all">View All</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive small">
			<thead>
				<tr>
					<th>Expense Type</th>
					<th>Particulars/Remarks</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
			{% if (expenses.length == 0) { %}
				<tr>
					<td colspan="3" class="text-center">
						<span class="text-muted text-center">No expenses recorded yet.</span>
					</td>
				</tr>
			{% } else { %}
				{% for (var i=0, l=expenses["expense_logs"].length; i<=l-1; i++) { %}
					<tr>
						<td>{{ expenses["expense_logs"][i].expense_type }}</td>
						<td>{{ expenses["expense_logs"][i].particulars }}</td>	
						<td class="text-right">{{ expenses["expense_logs"][i].amount }}</td>
					</tr>
				
				{% } %}
			{% } %}
			</tbody>
		</table>
	</div>
</div>
