<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-xs-12 text-right">
		<button class="btn btn-xs btn-default btn-manpower-add">Add</button>
		<button class="btn btn-xs btn-default btn-manpower-view-all">View All</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive small">
			<thead>
				<tr>
					<th>Work Alloted</th>
					<th>No. of Personnel</th>
					<th>Manpower Category</th>
					<th>Wage Calculation:Lumpsum/Rate</th>
				</tr>
			</thead>
			<tbody>
			{% if (manpower.length == 0) { %}
				<tr>
					<td colspan="4" class="text-center">
						<span class="text-muted text-center">No manpower Logs recorded yet.</span>
					</td>
				</tr>
			{% } else { %}
				{% for (var i=0, l=manpower.length; i<=l-1; i++) { %}

					<tr>
						<td>{{ manpower[i].work_allotted }}</td>
						<td>{{ manpower[i].no_of_personnel }}</td>
						<td>{{ manpower[i].manpower_category_item }}</td>
						<td class="text-right">{{ manpower[i].wage_calculation }}</td>
					</tr>
				
				{% } %}
			{% } %}
			</tbody>
		</table>
	</div>
</div>
