<div class="clearfix"></div>
<div class="row">
	<div class="col-md-12 col-xs-12 text-right">
		<button class="btn btn-xs btn-default btn-material-add">Add</button>
		<button class="btn btn-xs btn-default btn-material-view-all">View All</button>
	</div>
</div>
<div class="row">
	<div class="col-md-12 col-xs-12">
		<table class="table table-bordered table-striped table-hover table-condensed table-responsive small">
			<thead>
				<tr>
					<th>Hired/Owned Truck</th>
					<th>Driver Name</th>
					<th>Material Inwards/Outwards</th>
					<th>Material</th>
					<th>Time</th>
					<th>From</th>
					<th>To</th>
					<th>Tonnage</th>
					<th>Rate</th>
				</tr>
			</thead>
			<tbody>

			{% if (materials.length == 0) { %}
				<tr>
					<td colspan="10" class="text-center">
						<span class="text-muted">No material logs recorded yet.</span>
					</td>
				</tr>
			{% } else { %}
				{% for (var i=0, l=materials.length; i<=l-1; i++) { %}
					<tr>
						<td>{{ materials[i].truck }}</td>
						<td>{{ materials[i].driver_name }}</td>
						<td>{{ materials[i].material_direction }}</td>
						<td>{{ materials[i].material }}</td>
						<td>{{ materials[i].time }}</td>
						<td>{{ materials[i].from_warehouse }}</td>	
						<td>{{ materials[i].to_warehouse }}</td>
						<td class="text-right">{{ materials[i].tonnage }}</td>
						<td class="text-right">{{ materials[i].rate }}</td>
					</tr>
				{% } %}
			{% } %}
			</tbody>
		</table>
	</div>
</div>
